<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://fincube8248.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/ef223a2d-b719-4b3b-8462-21705e6210a9/resourceGroups/FinCube/providers/Microsoft.Web/sites/fincube8248</ResourceId>
    <UserName>$fincube8248</UserName>
    <_SavePWD>true</_SavePWD>
    <IsLinux>true</IsLinux>
    <PublishUrl>https://fincube8248.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>